USE [master]
GO
/****** Object:  Database [Portfolio]    Script Date: 3/8/2024 3:28:24 PM ******/
CREATE DATABASE [Portfolio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Portfolio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Portfolio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Portfolio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Portfolio_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Portfolio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Portfolio]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CodeName] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [varchar](255) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
	[Type] [varchar](50) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Institution] [varchar](255) NULL,
	[Degree] [varchar](50) NULL,
	[Graduation] [varchar](50) NULL,
 CONSTRAINT [PK_Education] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Feedback] [varchar](255) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackSummary]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackSummary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NULL,
	[Summary] [text] NULL,
 CONSTRAINT [PK_FeedbackSummary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mode]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [varchar](255) NULL,
 CONSTRAINT [PK_Mode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](255) NULL,
	[Image] [varbinary](max) NULL,
	[URL] [nvarchar](255) NULL,
	[Tags] [nvarchar](100) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/8/2024 3:28:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Skill] [varchar](50) NULL,
	[Progress] [int] NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [CodeName], [Password]) VALUES (1, N'3.141f', N'3.141f')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ID], [Address], [Mobile], [Email], [Type]) VALUES (1, N'Dhaka', N'01797363491', N'a@gmail.com', N'Primary')
INSERT [dbo].[Contact] ([ID], [Address], [Mobile], [Email], [Type]) VALUES (1003, N'a', N'234', N'sdfs', N'Secondary')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([ID], [Institution], [Degree], [Graduation]) VALUES (3, N'BPCMS', N'SSC', N'2018')
INSERT [dbo].[Education] ([ID], [Institution], [Degree], [Graduation]) VALUES (4, N'RUMC', N'HSC', N'2020')
INSERT [dbo].[Education] ([ID], [Institution], [Degree], [Graduation]) VALUES (6, N'KUET', N'B.Sc. in CSE', N'2026')
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([ID], [Email], [Name], [Feedback]) VALUES (1004, N'a@gmail.com', N'a', N'Nice Projects. I liked the Glassmorphic Calculator')
INSERT [dbo].[Feedback] ([ID], [Email], [Name], [Feedback]) VALUES (1005, N'b@gmail.com', N'b', N'Your Java project is good, But you need to learn React and make more projects.')
INSERT [dbo].[Feedback] ([ID], [Email], [Name], [Feedback]) VALUES (1006, N'c@gmail.com', N'c', N'I liked your porfolio. Keep learning and exploring.')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedbackSummary] ON 

INSERT [dbo].[FeedbackSummary] ([ID], [Date], [Summary]) VALUES (2, CAST(N'2024-03-02T23:58:43.290' AS DateTime), N'Summary: Clients appreciate the quality of your projects, particularly the Glassmorphic Calculator. They suggest broadening your skillset by learning React and emphasize the importance of expanding your portfolio with innovative technologies like three.js and 3D components. They encourage continuous learning and exploration.')
INSERT [dbo].[FeedbackSummary] ([ID], [Date], [Summary]) VALUES (3, CAST(N'2024-03-03T21:04:13.550' AS DateTime), N'Summary: Clients appreciate the showcased projects, particularly the Glassmorphic Calculator, and encourage continuous learning. They suggest exploring React and integrating technologies like three.js for enhanced interactivity and 3D elements. The feedback highlights the need to expand the portfolio with more projects and enhance user engagement through interactive components.')
SET IDENTITY_INSERT [dbo].[FeedbackSummary] OFF
GO
SET IDENTITY_INSERT [dbo].[Mode] ON 

INSERT [dbo].[Mode] ([ID], [Mode]) VALUES (1, N'Android')
SET IDENTITY_INSERT [dbo].[Mode] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([ID], [Skill], [Progress]) VALUES (1, N'C++', 50)
INSERT [dbo].[Skills] ([ID], [Skill], [Progress]) VALUES (3, N'HTML', 80)
INSERT [dbo].[Skills] ([ID], [Skill], [Progress]) VALUES (4, N'CSS', 60)
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
ALTER TABLE [dbo].[FeedbackSummary] ADD  CONSTRAINT [DF_FeedbackSummary_Date]  DEFAULT (getdate()) FOR [Date]
GO
USE [master]
GO
