body {
    max-width: 1200px;
    margin: 0 auto;
}

.eduG{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgba(47, 189, 255, 0.5);
    width: 90%;
    margin: 0 auto ;
    border-radius: 10px;
    margin-top: 120px;
    background: rgba(160, 160, 160, 0.055);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 3px );
}

.eduG1 , .eduG2{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.einp{
    width: 90%;
    padding: 5px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(17, 25, 40 , .85);
    border: 1px solid #0ea6ec80;
    color: white;
    margin: 25px 0 0 0;
}

.einp:focus{
    outline: none;
}

.ebtn{
    width: 90%;
    padding: 10px;
    margin-top: 0px;
    border-radius: 5px;
    height: 40px;
    background-color: #2196f3;
    border: 1px solid #0ea6ec80;
    color: white;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.ebtn:hover{
    background-color: #ffffff00;
    border: 1px solid #2196f3;
    color: white;
}